//앱 전체 화면 컨테이너
// .background {
//   background-color: #fff;
//   z-index: 2;
// }

.container {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;

  //화면 영역 확인을 위한 배경색
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;

  //개행문자 인식
  white-space: pre-line;
}

.top-bar-container {
  max-width: 500px;
  width: 100%;
  margin: 0;
  padding: 15px 30px 15px 10px;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  // background-color: #fff;
  // background-color: rgba(255, 255, 255, 0);
}

.drawbar-btn {
  margin-top: 15px;
  margin-right: 35px;
  width: 25px;
  height: 20px;
}

.text-logo {
  margin-top: 10px;
  margin-left: 20px;
  width: 100px;
}

.hide-menu {
  appearance: none;
  margin-top: 28px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  transition: 1s;
  opacity: 0;
}

.show-menu {
  background-color: #305474;
  width: 460px;
  margin: 0 auto;
  margin-top: 28px;
  height: 100%;
  position: fixed;
  transition: 1s;
}
