//앱 전체 화면 컨테이너
.container {
  max-width: 400px;
  margin: 0 auto;
  min-height: 100vh;

  //화면 영역 확인을 위한 배경색
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;

  //개행문자 인식
  white-space: pre-line;
}

.top-basr-container {
  padding: 3% 5% 3% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drawbar-btn {
  width: 60px;
}