.container {
    background-color: white;
}

.nav-container {
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-text-img {
    width: 70px;
    cursor: pointer;
}

.search-input-box {
    width: 50%;
    height: 30px;
    border-radius: 40px;
    border-color: #909090;
    border-width: 1px;
    padding-left: 10px;

    &:focus {
        outline: none;
    }
}

.drawer {
    width: 25px;
    cursor: pointer;
}

.category-select {
    background-color: #3A668C;
    display: flex;
    align-items: center;

    p {
        color: white;
        margin-left: 10px;
    }

    .down-arrow {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        cursor: pointer;
    }
}

.hideCategory {
    display: none;
}