a:link {
    text-decoration: none;
    color: black;
}

a:visited,
a:active {
    color: black;
}

.dict-item-container {
    box-sizing: border-box;
    background-color: #F5F5F5;
    margin: 15px;
    padding: 20px 17px;
    border-radius: 15px;
    cursor: pointer;

    p {
        margin: 0;
        padding: 0;
    }

    .word-title {
        display: inline-block;
        font-size: larger;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .word-desc {
        width: 100%;
        display: -webkit-box;
        word-wrap: break-word;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .info {
        display: flex;
        align-items: center;
        font-size: small;

        .info-right {
            display: flex;
            align-items: center;
            margin-left: auto;

            .word-date {
                padding-right: 15px;
            }

            .like-icon {
                width: 12px;
                height: 12px;
                padding-right: 3px;
            }
        }
    }
}