*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.landing-content-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  // max-height: 100vh;
  flex-direction: column;
  background-color: #fff;

  & h1 {
    text-align: center;
    font-size: 28px;
    color: #fff;
    padding: 10%;
    font-weight: bold;
  }

  & h3 {
    text-align: center;
    color: #fff;
    font-weight: 400;
  }
}

.arrow-img {
  width: 20px;
}

.arrow-img_wh {
  width: 20px;
}

.slide1 {
  background-image: url("../images/main-bg-1.png");
  // background-color: #d09035;
  height: 100%;
  width: 100%;
  background-size: cover;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.main-img {
  padding-left: 8%;
  padding-top: 40%;
  width: 400px;
}

.arrow-container {
  margin-top: 150px;
  padding-left: 50%;
}

.slide2 {
  background-color: #fff;
  height: 100%;

  & h1 {
    padding-top: 40%;
    color: #000000;
  }

  & p {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 19px;
    text-align: center;
    border: 1px solid #000000;
  }
}

.slide3 {
  background-image: url("../images/main-bg-3.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0;
  // background-repeat: no-repeat;

  & p {
    // height: 100vh;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 520px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
    word-spacing: 0.2vh;
    // background-color: red;
  }
}

.slide4 {
  background-image: url("../images/main-bg-4.png");
  height: 100%;
  justify-items: center;
  align-items: center;
  background-size: cover;

  & .forth-text1 {
    margin: 0 3rem 0 3rem;
    // margin-left: 3rem;
    // margin-right: 30px;
    padding-top: 10rem;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    word-spacing: 0.2vh;
    // background-color: red;
  }

  .landing-info-container {
    width: fit-content;
    margin: 2rem;
    border-radius: 15px;
    background-color: #ebebeb;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
  }

  & .forth-text2 {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    font-size: 19px;
    font-weight: 500;
  }
}

.dic-img {
  padding-left: 3rem;
  width: 350px;
  border-radius: 5px;
}

.go-btn {
  width: 250px;
  height: 50px;
  margin-top: 4rem;
  margin-left: 25%;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color: #3a668c;
  font-size: 20px;
  font-weight: 600;
}

ul {
  padding-top: 50%;
  margin-bottom: auto;
  list-style-type: none;
  height: auto;
  z-index: index;
  width: 500px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.side-bar {
  padding: 15px 30px 15px 0px;
  max-width: 500px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: fixed;
  z-index: 2;
  top: 2rem;
}
