.landing-content-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  //   min-height: 94vh;
  flex-direction: column;
  background-color: #d09035;

  & h1 {
    text-align: center;
    font-size: 28px;
    color: #fff;
    padding: 10%;
    font-weight: bold;
  }

  & h3 {
    text-align: center;
    color: #fff;
    font-weight: 400;
  }
}

.arrow-img {
  width: 20px;
}
.arrow-img_wh {
  width: 20px;
}

.slide1 {
  height: 70vh;
}

.main-img {
  padding-left: 10%;
  padding-top: 40%;
  width: 400px;
}

.arrow-container {
  margin-top: 150px;
  padding-left: 50%;
}

.slide2 {
  background-color: #fff;
  height: 100vh;

  & h1 {
    padding-top: 40%;
    color: #000000;
  }

  & p {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 19px;
    text-align: center;
    border: 1px solid #000000;
  }
}

.slide3 {
  background-image: url("../images/main-bg-3.png");
  height: 100vh;
  background-size: cover;
  // background-repeat: no-repeat;

  & p {
    // height: 100vh;
    // margin-bottom: 30px;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 520px;
    // padding-bottom: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
    word-spacing: 0.2vh;
    // background-color: red;
  }
}

.slide4 {
  background-image: url("../images/main-bg-4.png");
  height: 100vh;
  justify-items: center;
  align-items: center;
  background-size: cover;
  & .forth-text1 {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 200px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    word-spacing: 0.2vh;
    // background-color: red;
  }

  .landing-info-container {
    width: fit-content;
    margin: 2rem;
    border-radius: 15px;
    background-color: #ebebeb;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 6rem;
  }

  & .forth-text2 {
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    font-size: 19px;
    font-weight: 500;
  }
}

.dic-img {
  padding-left: 3rem;
  width: 350px;
  border-radius: 5px;
}

.go-btn {
  width: 250px;
  height: 50px;
  margin-top: 4rem;
  margin-left: 25%;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color: #3a668c;
  font-size: 20px;
  font-weight: 600;
}
